.notification {
  width: 100%;
  max-height: 400px; /* fixed height for scrollable area */
  overflow-y: auto;  /* adds scrollbar when content exceeds height */
  /* border: 1px solid #007bff; */
  padding: 10px;
  box-sizing: border-box; /* ensures padding doesn’t overflow */
  scrollbar-width: thin; /* for Firefox */
  scrollbar-color: #60aaeb60 #f0f0f0; /* custom scrollbar colors */
}

/* Optional: customize scrollbar for Chrome/Safari */
.notification::-webkit-scrollbar {
  width: 6px;
}

.notification::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 8px;
}

.notification::-webkit-scrollbar-thumb {
  background-color: #60aaeb;
  border-radius: 8px;
}


.notification-header {
  display: flex;
  flex-direction: row;
  column-gap: 330px;
  padding-bottom: 15px;
}

.button-group {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
.buttons {
  color: #60aaeb;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.count-badge {
  display: flex;
  flex-direction: column;
  color: #60aaeb;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 30%;
  margin-left: 10px;
}

.popover-msgs {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.badge-mail-tick {
  background-color: #d6dfe7;
  color: #60aaeb;
  width: 85px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
}

.popover-dropdown {
  border-radius: 12px;
}
