.login-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  min-height: 100vh;
  padding: 0px;
  background-color: rgb(83, 148, 247);
  justify-content: center;
  align-items: center;
}

.login-content {
  padding: 45px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.login-card {
  border-radius: 15px;
}

.password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 3px;
}

.password-label {
  display: block;
}
