.table-container {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

/* HEADER STYLING */
.mantine-Table-th {
  background-color: #f3f4f6;
  font-weight: 600;
  text-transform: capitalize;
  color: #1e3a8a;
  cursor: pointer;  
  /* padding: 14px 10px; */
  transition: all 0.2s ease;
  border-bottom: 2px solid #e0e7ff;
  white-space: nowrap;
}

.mantine-Table-th:hover {
  background-color: #e0e7ff;
}

.table-headers {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.table-headers span {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #1f2937;
}

.table-headers svg {
  color: #9ca3af;
  font-size: 15px;
  transition: color 0.2s ease;
}

.table-headers:hover svg,
.table-headers.active svg {
  color: #2563eb;
}

/* BODY */
td {
  padding: 12px 16px !important;
  color: #080808;
}

/* BREACH ROWS */
.breached-row.breached {
  background-color: #ffe6e6;
  border-left: 4px solid #ff4d4d;
}

.breach-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}

.arrow {
  color: #ef4444;
  font-size: 18px;
}
.bl-table-headers
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
/* PAGINATION */
.pagination-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 10px 10px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px
}

.pagination-footer span {
  font-size: 14px;
  font-weight: 500;
}

.pagination-controls {
  display: flex;
  gap: 4px;
}
Table
{
  background-color: #f7f9fc !important;
  border-radius: 12px 12px;
}
.pagination-controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 6px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}

.sort-icon {
  font-size: 14px;
  color: #9ca3af;
  transition: color 0.2s ease;
}

.sort-icon.active {
  color: #2563eb;
}
