.member-card {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  align-items: center;
  background-color: #f5f6fa;
  padding: 10px 20px;
  /* border-radius: 8px; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.metrics-grid {
  display: contents;
}

.metric-item {
  text-align: left;
  font-size: 14px;
  padding: 5px 0;
}

.metric-value {
  font-family: "Inter", sans-serif;

  font-size: 14px;
  font-weight: 500;
  color: #202224;
}
