.category-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.category-content {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.category-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.category-content-expanded {
  padding-top: 12px;
  padding-bottom: 12px;
}

.category-content-collapsed {
  padding-top: 10px;
}

.view {
  color: #228be6;
}

.select-all {
  margin-bottom: 15px;
}
