/* Container */
.bl-table-container {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
}

/* Table */
table {
  width: 100%;
  border-collapse: separate !important;
  border-spacing: 0;
  background: #fff;
}

/* HEADER ROW */
.bl-header-row {
  background: #EAECF5;
}

/* HEADER CELL */
.bl-header-cell {
  text-align: left;
  height: 60px;
  padding: 12px 18px;
  color: #202224;
  font-weight: 600;
  letter-spacing: 0.3px;
  background: #EAECF5 !important;
  border-bottom: none !important;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.bl-header-cell .bl-table-headers {
  display: flex;
  justify-content: flex-start; /* align left */
  gap: 6px;
}

/* Remove last border */
.bl-header-cell{
  border-right: none;
}

/* Rounded first header */
.first-header {
  border-radius: 12px 0 0 12px !important;
}

/* Rounded last header */
.last-header {
  border-radius: 0 12px 12px 0 !important;
}

/* GAP BETWEEN HEADER AND BODY */
.bl-header-row + tbody tr:first-child td {
  padding-top: 22px !important;   /* distance from header */
}

/* BODY ROWS */
.bl-row {
  border-bottom: none;
  background-color: #f5f6fa;
}

/* BODY CELLS */
td {
  border-bottom: none !important;
  padding: 12px 16px;
  color: #222;
  border-bottom: 1px solid #e1e1e1;
}

/* PAGINATION */
.bl-pagination-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px
}

.bl-pagination-controls {
  display: flex;
}

.bl-pagination-controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 6px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}
Table
{
  background-color: #f7f9fc !important;
  border-radius: 12px 12px;
}
.first-row-gap td {
  padding-top: 20px; /* Adjust space as needed */
}
