.priority-search {
  padding-top: 5px;
}

.accordion-border:last-of-type {
  border-bottom: none;
}

.Accordion-title {
  background-color: #e5e7ee;
}

.accordion-padding {
  padding: 0%;
}

.inc-list-header h1 {
  color: #333B69;
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 10px 0;
}

.BL-filter-container {
  display: flex;
  flex-direction: row;
  gap: 75px;
  padding: 20px 0 0 20px;
}

.incident-scroll {
  max-height: 200px;
  overflow-y: auto;
  margin-top: 6px;
  padding-right: 20px;
}

.incident-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.incident-scroll::-webkit-scrollbar {
  width: 6px;
}

.incident-scroll::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

.incident-scroll::-webkit-scrollbar-track {
  background: #f3f3f3;
}

.accordion-border:last-of-type {
  border-bottom: none;
}

.Accordion-title {
  background-color: #f5f6fa;
}

.accordion-padding {
  display: flex;
  flex-direction: column;
  gap: 10px;

}