.page-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-title {
  padding-top: 30px;
  padding-left: 30px;
}

.page-right {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.page-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  border-radius: 15px;
}

.page-download {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
