.page-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-title {
  /* padding-top: 30px; */
  padding-left: 30px;
}

.page-right {
  padding-top: 23px;
  gap:17px;
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.page-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  border-radius: 15px;
}

.page-download {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  align-items: center;
  gap: 6px;
}

.modal {
  padding: 5px 0px 20px 0px;
  color: #000;
}

.button-group-modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
}

.modal-header h2 {
  font-size: 24px;
  font-weight: 500;
}
