.critical-card {
  margin-left: auto;
  height: 100%;
  background: white;
  transition: width 0.5s ease-in-out;
}

.critical-card.opened {
  width: calc(100% - 430px);
}

.critical-card.closed {
  width: 100%;
}
