.BL-filter-container {
  display: flex;
  flex-direction: row;
  gap: 75px;
  padding-left: 35px;
}

.incident-scroll {
  max-height: 160px;
  overflow-y: auto;
  margin-top: 6px;
  padding-right: 20px;
}

.incident-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.incident-scroll::-webkit-scrollbar {
  width: 6px;
}

.incident-scroll::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

.incident-scroll::-webkit-scrollbar-track {
  background: #f3f3f3;
}

.accordion-border:last-of-type {
  border-bottom: none;
}

.Accordion-title {
  background-color: #f5f6fa;
}

.accordion-padding {
  padding: 0px;
}
