.assignement-group-details-heading h2 {
  font-size: 20px;
  color: #333b69;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.groups-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 20px; /* spacing between grid items */
  column-gap: 10px;
}

.group-details {
  margin-left: 0;
  background-color: #f5f6fa;
  width: 200px; 
  height: 110px;
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
.groups-container > .group-details:nth-child(5n + 1) {
  margin-left: 0; /* first in row */
}
.groups-container > .group-details:nth-child(5n) {
  margin-right: 0; /* LAST in full row of 5 */
}
.groups-container > .group-details:last-child:not(:nth-child(5n)) {
  margin-right: auto; 
}
.group-details h3 {
  font-family: "Inter", sans-serif;

  font-size: 14px;
  color: #000000;
  margin-bottom: 5px;
  font-weight: 500;
}

.group-details p {
  font-family: "Inter", sans-serif;

  font-size: 16px;
  font-weight: 600;
  margin: 0;
  color: #333;
  display: flex;
  align-items: center;
}
.fil-result.opened
{
text-align: center;
width: 1300px;
padding: 10px;
font-weight: 600;
font-family: "Inter";
}
.fil-result.closed
{
text-align: center;
width: 1800px;
padding: 10px;
font-weight: 600;
font-family: "Inter";
}